doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Checkers
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Checkers

  button#reset Reset

  table#board
    tbody
      - for(var i = 0; i < 8; i++)
        tr
          - for(var j = 0; j < 8; j++)
            td(data-x=i, data-y=j)

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
